body {
    background-color: #292C32;
    color: #ffffff;                
    font-family: StaticFont;
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar .navbar-brand, .navbar-brand:hover {
    color: #FA5858;        
    font-size: 40px;
    margin-top: 14px;
    font-weight: bold;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .navbar-inner {
    background-color: #292C32;
    background-image: none;
    border-color: #292C32;
}

.social-home {
    float:right;
}

.social-home span{
    margin-right: 18px;
}

.img-social-home {
    width: 60px;
}

.carousel-control {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.newsletter span {
    padding-top: 10px;
}

.newsletterInput {    
    margin-bottom: 0px !important;
    height: 32px !important;
    font-size: 18px !important;
    font-family: StaticFont;
}

.newsletterSubmit, .newsletterSubmit:hover  {
    background-image: none;
    background-color: #FA5858; 
    border: #FA5858;
    color: #292C32;    
    width: 118px !important;
    height: 42px;
    text-shadow: none;
    font-size: 18px;
    font-family: StaticFont;
}

a.accordion-toggle {
    color: #A4A4A4;
    font-size: 20px;
}

.img-circle-home {
    width: 55px;
    background-color: grey;
    margin-right: 20px;
}

.accordion-group {
    border: 1px solid #1C1C1C;
    background-color: #1C1C1C;
}

.accordion-inner {
    color:#000000;
    background-color: #ffffff;
    padding: 0px;
}

.accordion-inner img {            
    margin-bottom: 20px;
}

.accordion-inner div {
    padding-bottom: 15px;
}

.accordion-inner ul {
    margin-left: 200px;        
}

.accordion-inner h3, .accordion-inner p {
    margin-left: 100px;
    margin-right: 100px;
}

@font-face {      
      src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
}
@font-face {      
      src: url("../fonts/bootstrap/glyphicons-halflings-regular.svg");
}
@font-face {      
      src: url("../fonts/bootstrap/glyphicons-halflings-regular.ttf");
}
@font-face {      
      src: url("../fonts/bootstrap/glyphicons-halflings-regular.woff");
}

@font-face {
      font-family: "StaticFont";
      src: url("../fonts/Static.otf");
}
@font-face { 
    font-family: StaticFont; 
    font-weight: bold; 
    src: url("../fonts/StaticBold.otf"); 
}
@font-face { 
    font-family: StaticFont; 
    font-style: italic; 
    src: url("../fonts/StaticItalic.otf"); 
}
@font-face { 
    font-family: StaticFont; 
    font-weight: bold;
    font-style: italic; 
    src: url("../fonts/StaticItalicBold.otf"); 
}
