body {
    background-color: #424242;
    color: #ffffff;                
}

a:hover {
    text-decoration: none;
}

.navbar-inverse {
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar-inverse .brand, .navbar-inverse .brand:hover {
    color: #FA5858;    
    font-family: StaticFont;
    font-size: 31px;
    margin-top: 10px;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-inner {
    background-color: #424242;
    background-image: none;
    border-color: #424242;
}

a.fb-home {
    float:right;
}

.img-fb-home {
    width: 50px;
}

.newsletter span {
    padding-top: 10px;
    font-family: StaticFont;
    font-size: 18px;      
}

.newsletterInput {    
    margin-bottom: 0px !important;
    height: 32px !important;
    font-size: 18px !important;
    font-family: StaticFont;
}

.newsletterSubmit, .newsletterSubmit:hover  {
    background-image: none;
    background-color: #FA5858; 
    border: #FA5858;
    color: #424242;    
    width: 118px !important;
    height: 41px;
    text-shadow: none;
    font-size: 18px;
    font-family: StaticFont;
}

a.accordion-toggle {
    color: #A4A4A4;
    font-size: 20px;
    font-family: StaticFont;
}

.img-circle-home {
    width: 55px;
    background-color: grey;
    margin-right: 20px;
}

.accordion-group {
    border: 1px solid #1C1C1C;
    background-color: #1C1C1C;
}

footer {
    font-family: StaticFont;
    font-size: 18px;
}

@font-face {
      font-family: "StaticFont";
      src: url("../css/font/static/Static.otf");
}
@font-face { 
    font-family: StaticFont; 
    font-weight: bold; 
    src: url("../css/font/static/StaticBold.otf"); 
}
@font-face { 
    font-family: StaticFont; 
    font-style: italic; 
    src: url("../css/font/static/StaticItalic.otf"); 
}
@font-face { 
    font-family: StaticFont; 
    font-weight: bold;
    font-style: italic; 
    src: url("../css/font/static/StaticItalicBold.otf"); 
}




