<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Berlin Social Runners</title>                
    <link href="img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <!--  styles -->
    <link rel="stylesheet" type="text/css" href="css/main.min.css">

  </head>

  <body>
    <header id="header">
      <div class="navbar navbar-defaul navbar-static-top" role="navigation" ng-controller="navbarController">    
        <div class="container">        
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    BERLIN SOCIAL RUNNERS
                </a>
            </div>
            <div collapse="isCollapsed" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="m in menu" ng-class="{ active: isActive(m.link)}"><a href="#{{ m.text }}" ng-click="collapse()">{{ m.text }}</a></li>
                </ul>
            </div>
        </div>            
    </div>
    </header>      
    <div class="container">   
      <div ng-controller="homeCtrl">                   
            <div ng-view></div>        
      </div>      
    </div>

    <footer id="footer">
      <div class="container"> 

        <div class="social-home">
          <span>Contact us</span>
          <a href="https://www.facebook.com/groups/BerlinSocialRunners/" target="_blank">
              <img src="img/index/facebook.png" class="img-circle img-social-home">                    
          </a>
          <a href="https://twitter.com/berlinrunners"  target="_blank">
              <img src="img/index/twitter.png" class="img-circle img-social-home">                    
          </a>  
          <a href="mailto:feedback@berlinsocialrunners.com">
              feedback [at] berlinsocialrunners / com
          </a>          
          <p>Berlin Social Runners created in 2013 with LOoooOVEeee!!!</p>                     
        </div>
      </div>
    </footer> 
    
    <!-- Scripts -->      
     <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/main.min.js"></script>             
  </body>
</html>
