@media (max-width: 480px) { 
    body { 
        font-size: 1.2em; 
    }    
    .panel-title {
        font-size: 2em;
    }
    .panel-body {
        font-size: 1.4em;
    }
    .navbar-default {        
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    body { 
        font-size: 1.4em; 
    }
    .panel-title {
        font-size: 6em;
    }
    .panel-body {
        font-size: 1.4em;
    }
}

@media (min-width: 979px) {
    body { 
        font-size: 1.6em; 
    }
    .panel-title {
        font-size: 7em;
    }
    .panel-body {
        font-size: 1.6em;
    }
}

body {        
    font-family: Kelson;
    font-weight: 300;        
}

a {    
    color: #f82e4c
}

a:hover {
    text-decoration: none;
    color: #f82e4c !important;
}

li a.active {
    color: #f82e4c !important;     
}

h2 {
    color: #f7ca8c;
}

.header-img {
    width: 1900px;
    margin-top: 50px;   
}

.navbar-default {
    background-color: #ffffff;    
}

.fade {
    opacity: 0;

    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}

.fade.active{
  opacity: 1;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.panel {
    border: none;
}

.panel-heading {
    background-color: #000 !important;    
    border-color: #000 !important;
    padding-top: 40px;
    padding-bottom: 40px;        
}

.panel-title {
    color: #ffffff;    
    margin-right: 20px;
    font-weight: 300;
}

.panel-body {        
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff !important;       
}

.panel-body p {
    margin: 20px;    
}

.panel-braker {
    margin: 40px 0px 40px 0px;
}

.panel-braker-text {
    margin: 20px 0px;
}

.img-social-cta {
    width: 70px;    
}

.angular-google-map-container { 
    height: 530px;          
}

.marker-label {
    background-color: #ffffff;    
    font-size: 12px;
    font-family: Kelson;
}

footer {    
    padding-left: 40px;
    margin-top: 60px;    
}

.author-attribution {
    font-size: 8px;
    padding-top: 30px;
}

@font-face {
      font-family: Kelson;
      font-weight: 300; 
      src: url("../fonts/KelsonSansLight.otf");
}

@font-face { 
    font-family: Kelson;
    font-weight: bold;         
    src: url("../fonts/KelsonSansRegular.otf"); 
}

@font-face { 
    font-family: Kelson; 
    font-weight: bolder; 
    src: url("../fonts/KelsonSansBold.otf"); 
}

