<!-- home.html -->
<div id="carousel" class="carousel slide">  
  <carousel interval="interval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">      
    </slide>
  </carousel>  
</div>

<div id="newsletterForm" class="row newsletter">
	<form action="http://berlinsocialrunners.us7.list-manage.com/subscribe/post?u=049bc82d30e4869d740d24d3a&amp;id=1e15c6b33f"
	    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
	    class="form-inline" target="_blank" novalidate>  
		<div class="form-group col-md-5 col-md-offset-3">
		    <label for="exampleInputEmail2">Stay in touch</label>
		    
		    <input type="text" type="email" class="form-control newsletterInput"
		         name="EMAIL" placeholder="email address" required>

		    <input type="submit" class="btn newsletterSubmit" value="SUBSCRIBE!"/>
		</div>
	</form>
</div>

<div class="panel-group" >
	<accordion close-others="oneAtATime" ng-repeat="panelItem in panelItems">
		<accordion-group is-open="{{ panelItem.isOpen }}">
	        <accordion-heading>
	        	<img ng-src="{{ panelItem.panelImgSrc }}" class="img-circle img-circle-home">
	        	{{ panelItem.panelTitle }}	            
	        </accordion-heading>
	        <h4>{{ panelItem.bodyTitle }}</h4>
	        <p>
	          {{ panelItem.bodyText }}
	        </p>
	        <ul class="body_list">	          
	          <li ng-repeat="listElement in panelItem.bodyList">{{ listElement }}</li>	          
	        </ul>
	    </accordion-group>
    </accordion>
</div>	
