<div class="social-home">
  <form>
  		<label>We like your feedback</label>
  </form>
  <span>Find us</span>
  <a href="https://www.facebook.com/groups/BerlinSocialRunners/" target="_blank">
      <img src="img/index/facebook.png" class="img-circle img-social-home">                    
  </a>
  <a href="https://twitter.com/berlinrunners"  target="_blank">
      <img src="img/index/twitter.png" class="img-circle img-social-home">                    
  </a>                       
</div>    
<p>Berlin Social Runners 2013</p>